<div class="bg-blue-50">
    <div class="max-w-4xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="">
        <div>
          <p class="text-base font-semibold text-teal-400 uppercase tracking-wider">
            Now in early access
          </p>
          <h2 class="mt-2 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tighter text-black">
            Hitung. Bayar. Lapor.
          </h2>
          <p class="mt-4 md:text-lg text-blue-500 max-w-3xl">
            Hubungi kami <span class="hidden md:inline-block"> via Telepon/Telegram/WA di</span> 0815-21777-255 →
          </p>
        </div>

      </div>
    </div>
  </div>