<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-blue-50">
    <div class="max-w-4xl mx-auto  py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="mb-6 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tighter">
        <span class="block">Hitung. Bayar. Lapor.</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <div class="inline-flex items-center justify-center py-3 border border-transparent text-base font-medium rounded-md text-blue-600 bg-white hover:bg-blue-50">
            Hubungi kami via telepon/Telegram/WA di 0815-21777-255 →
          </div>
        </div>
      </div>
    </div>
  </div>
  