---
layout: default
---
<section class="select-none" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="max-w-5xl mx-auto flex flex-col px-5 justify-center items-center">
    <div class="w-full md:w-2/3 flex flex-col items-center text-center">
      <h1 itemprop="headline"  class="hero-font">
        {{ page.title }}
      </h1>
    </div>
  </div>
  <div class="container max-w-4xl px-5 mx-auto lg:px-20">
      <div class="flex flex-col">
          <div itemprop="articleBody" class="my-16 prose select-none border-t border-gray-300 mx-auto py-16">
              {{ content }}
              <div itemprop="dateCreated" class="text-sm border-t w-full py-10 mt-10">Last Updated: </div>
          </div>
          
      </div>
  </div>
</section>
