---
layout: default
---
<section class="" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="max-w-5xl px-8 py-16 mx-auto lg:px-4 ">
      <div class="flex flex-col w-full text-left sm:text-center ">
          <h2 class="text-xs font-semibold tracking-widest text-blue-600 uppercase mx-auto">{{ page.tagline}}</h2>
          <h1 itemprop="headline"  class="hero-font">
              {{ page.title }}
          </h1>
          <p class="subhero-font mx-auto lg:w-2/3">{{ page.description }}
          </p>
      </div>
  </div>
</section>

{{ content }}