---
layout: default
---
<article class="container px-2 mx-auto mb-4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="h-0 col-9 sm:w-full py-4 mt-3 inline-block" itemprop="name headline">{{ page.title }}</h1>
  <div class="col-4 sm:width-full mt-1 border-t ">
    <p class="mb-3 py-2 font-bold h-4"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </div>

  <div class="prose lg:prose-xl" itemprop="articleBody">
      {{ content }}
  </div>

</article>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>
